{% extends "base.html" %}

{% block title %} 연락주세요 {% endblock %}

{% block content %} 
    <h1>연락주쇼</h1>
    {% if success %}
        <p style="color: greenyellow;">연락 잘 받았다</p>
    {% endif %}
    
    <form method="post" action="/contact">
        <p><input type="text" name="name" placeholder="이름" required></p>
        <p><input type="email" name="email" placeholder="이메일" required></p>
        <p><textarea name="message" placeholder="메시지 내용" rows="5" required></textarea></p>    
        <p><button type="submit">보내기</button></p>
    </form>

    <p><a href="/">홈으로</a></p>
{% endblock %}