<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 포트폴리오</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class = 'container'>
        <h1>하이</h1>
        <p>tjrdnjs</p>
        <img src="{{ url_for('static', filename='me.jpg') }}" alt="프로필 이미지">
        <p>
            <a href="https://github.com/swwon-i">my git</a><br>
            <a href="/about">소개</a><br>
            <a href="/projects">프로젝트</a><br>
            <a href="/contact">연락</a>
        </p>
    </div>
</body>
</html>