<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>상품 목록</title>
</head>
<body>
    <h2>상품 목록</h2>
    <div id="productlist"></div>
    <div id="message"></div>
</body>
<script>
    $(document).ready(function(){
        $.ajax({
            url : "http://localhost:8000/api/products",
            type : 'get',
            success : function(products){
                const productlist = $('#productlist')
                productlist.empty()

                products.forEach(product => {
                    const productHtml = `
                        <div class = 'product-item'>
                            <h3>${product.name}</h3>
                            <p>${product.price}원</p>
                            <input class="quantity-input" type='number' value="1" min="1">
                            <button class="add-to-cart" data-product-id="${product.id}">장바구니 담기</button>
                        </div>
                    `
                    productlist.append(productHtml)
                });
            },
            error : function(e){
                $('#message').text('상품 목록을 가져오는 데 실패!')
            }
        })
    });

    // 장바구니 담기 : Cart 테이블에 insert
    $(document).on('click', '.add-to-cart', function(){
        const productid = $(this).data('product-id');
        const quantity = $(this).siblings('.quantity-input').val();
        const userid = 1;

        $.ajax({
            url : "http://localhost:8000/api/cart",
            type : 'post',
            contentType : 'application/json',
            data : JSON.stringify({
                user_id : userid,
                product_id : productid,
                quantity : parseInt(quantity)
            }),
            success : function(response){
                $('#message').text(response.message)
            },
            error : function(e){
                $('#message').text("장바구니 담기 실패!")
            }
        })
    });

</script>
</html>